

body {
  background-color: lightblue;
  font-family: sans-serif;
}

.input-text {
  display: inline-block;
  width: 170px;
  text-align: right;
  padding-top: 0.5em;
}

textarea {
  display: inline-block;
  margin-left: 175px;
  margin-top: -20px;
  max-width: 25em;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}


/* CLASS ELEMENTS */

.form-layout {
  background-color: lightgray;
  width: 475px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  border: 2px solid darkgrey;
  border-radius: 2em;
}


.bio {
  display: inline-block;
  width: 170px;
  text-align: right;
  padding-top: 0.5em;
}

.terms label{
  display: inline-block;
  width: 170px;
  text-align: right;
  padding-top: 0.5em;
}

.text-box {
  width: 15em;
}

.gender {
  display: inline-block;
  width: 170px;
  text-align: right;
}

.sms-notifications, .email-notifications{
  display: inline-block;
  width: 170px;
  text-align: right;
}

.sms-notifications {
  padding-top: 0.5em;
}
